<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="pageHead">
    <meta charset="UTF-8"/>
    <title>Allegro Bis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/site.css}"></link>
    <script type="application/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/resources/js/utils.js}"></script>
    <script type="application/javascript" th:src="@{/resources/js/doT.min.js}"></script>
    <script type="application/javascript" th:inline="javascript">
        var itemsPageSize = 20;
        var homeLink = /*[[@{/}]]*/ 'test';
        var link = /*[[@{/rest/categories/list}]]*/ 'test';
        var baseCategoryLink = /*[[@{/categories/show}]]*/ 'test';
        var baseAddLink = /*[[@{/adds/show}]]*/ 'test';
        var noImageLink = /*[[@{/resources/images/noimage.png}]]*/ "test";
        var breadcrumbsLink = /*[[@{/rest/navigation/breadcrumbs}]]*/ 'test';
        var parentCategory = getUrlParameter('category');
        if (!parentCategory) {
            parentCategory = '0';
        }
        $(document).ready(function () {
            $('#q').keypress(function (e) {
                if (e.which == 13) {
                    $('#searchForm').submit();
                    return false;
                }
            });
            callForCategories(parentCategory, link, baseCategoryLink, 0, 20);
            $('#catSearch').val(parentCategory);
        });
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row header vertical-align" id="header" th:fragment="header">
            <div class="col-md-2 centered">
                <div class="text-left">
                    <a th:href="@{/}">
                        <h1 id="title" class="header-title">Allegro</h1>
                        <h2 id="title2" class="header-title"><em>Bis</em></h2>
                    </a>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <form class="navbar-form navbar-left" role="search" method="get" th:action="@{/search}" id="searchForm">
                    <div class="form-group">
                        <label class="sr-only" for="q">Search</label>
                        <input type="text" class="form-control" style="width:500px" placeholder="Szukaj" name="q"
                               id="q"/>
                        <input type="hidden" id="catSearch" name="category"/>
                    </div>
                    <button type="submit" class="btn btn-default" style="width:100px">Szukaj</button>
                </form>
            </div>
            <div class="col-md-2 centered" id="loginHolder">
                <a id="addItem" class="btn btn-default btn-block" th:href="@{/item/add}">Dodaj ogłoszenie</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div th:fragment="leftCol" class="col-md-2 categories">
        <span class="btn btn-primary btn-block">Categories</span>
        <div class="loader box" id="leftLoader"></div>
        <ul id="catList">

        </ul>
    </div>
</div>
</body>
</html>