<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: pageHead">
</head>
<body>
<script type="application/javascript" th:inline="javascript">
    var offset = 0;
    var addsLink = /*[[@{/rest/categories/content}]]*/ 'test';
    $(document).ready(function () {
        $("#navigation").hide();
        $("#noItems").hide();
        if(parentCategory !="0"){
            callForAdds(parentCategory, offset, itemsPageSize);
            callForBreadcrumbs(parentCategory);
        }
    });
</script>
<div class="container-fluid">
    <div th:replace="base :: header"></div>
    <div class="row">
        <div th:replace="base :: leftCol"></div>
        <div class="col-md-8 categories">
            <ol id="navigation" class="breadcrumb"></ol>
            <h2>Ogłoszenia</h2>
            <div class="loader box" id="catLoader"></div>
            <div id="addverts">
            </div>
            <p id="noItems" class="bg-danger has-error noResults">
                <br/>Brak ogłoszeń w kategorii<br/><br/>
            </p>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>