<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"></link>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/site.css}"></link>
</head>
<body>
<div class="container-fluid">
    <div th:replace="base :: header"></div>
    <div class="row">
        <div th:replace="base :: leftCol"></div>
        <div class="col-md-6">
            <form th:object="${loginFrom}" th:action="@{/login}" method="post" class="form-horizontal">
                <h1>Login form</h1>
                <div class="form-group">
                    <label th:for="*{username}">Login</label>

                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                        <input class="form-control" type="text" value="username" th:field="*{username}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label th:for="*{password}">Password</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-lock"></span>
                        <input class="form-control" type="password" value="password" th:field="*{password}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>